@model MBotRangerCore.Models.ImagesModels.GalleryIndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Gallery";
}

<h2>Gallery</h2>
<script src="~/js/galleryimagesview.js"></script>
<link rel="stylesheet" href="~/css/galleryview.css" />


<div id="picdiv" class="container body-content">
        @foreach (var image in Model.Images)
        {
            
            <div class="responsive">
                <div data="Screenshot Created at: @image.Created" class="gallery">
                    <a target="_blank" href="@image.Url">
                        <img id="imgview" src="@image.Url"  width="300" height="200">
                    </a>
                    <div class="desc">Image taken by:@image.Title</div>
                </div>
                @if (image.Title == UserManager.GetUserAsync(User).Result.FirstName)
                {
                    <div class="caption">
                        <a data="Delete Image" onclick="deleteImage(@image.Id)" id="deleteimage"><i class="glyphicon glyphicon-trash"></i></a>
                        <span id="description"></span>
                    </div>

                }

            </div>
        }

       <div class="clearfix"></div>
    </div>
