@model MBotRangerCore.Models.ImagesModels.GalleryIndexModel

@{
    ViewData["Title"] = "Gallery";
}

<h2>Gallery</h2>

<link rel="stylesheet" href="~/css/site.css" />

<div class="container body-content">
    <div class="row gallery-content">
        @foreach (var image in Model.Images)
        {
            <div class="gallery-image-container">
                <img src="@image.Url" class="gallery-image" />
            </div>
           
              <span>
                   @image.Title
                   Screenshot Created at: @image.Created
              </span>
           
        }

        </div>
    </div>
