@using Microsoft.AspNetCore.Identity
@using MBotRangerCore.Models


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Mouse";
}
@if (SignInManager.IsSignedIn(User))
{

<h2>Mouse</h2>
    <body value="Redirect to another Page"  onload="RedirectAfterDelayFn()"></body>

<link rel="stylesheet" href="~/css/_robot_old.css" />
<!-- 5 Buttons to control the robot-->
@using (Html.BeginForm("Mouse", "Robot"))
{



    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

            <input id="forwardBtn" type="submit" name="submit" value="Forward" />

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <input id="leftBtn" type="submit" name="submit" value="Go Left" />

        </div>
        <div class="col-md-2">

            <input id="stopBtn" type="submit" name="submit" value="Stop" />

        </div>

        <div class="col-md-2">

            <input id="rightBtn" type="submit" name="submit" value="Go Right" />

        </div>

        

    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

            <input id="backBtn" type="submit" name="submit" value="Back" />

        </div>
    </div>
    <div id="CountDown" class="row" style="display: none">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <p>You will be redirected after</p>
            <br />
            <span id="CountDownLabel"></span> <p>seconds.</p>
        </div>

    </div>

    <script>

        //Forward button
        document.getElementById("forwardBtn").addEventListener("mousedown", forward);
        document.getElementById("forwardBtn").addEventListener("mouseup", mouseUp);
        function forward() {
            Document(this.click(this.value = 'Forward'));
        }

        //Back button
        document.getElementById("backBtn").addEventListener("mousedown", back);
        document.getElementById("backBtn").addEventListener("mouseup", mouseUp);

        //Right button
        document.getElementById("rightBtn").addEventListener("mousedown", right);
        document.getElementById("rightBtn").addEventListener("mouseup", mouseUp);

        //Left button
        document.getElementById("leftBtn").addEventListener("mousedown", left);
        document.getElementById("leftBtn").addEventListener("mouseup", mouseUp);


        function back() {
            Document(this.click(this.value = 'Back'));
        }
        function right() {
            Document(this.click(this.value = 'Go Right'));
        }
        function left() {
            Document(this.click(this.value = 'Go Left'));
        }
        function mouseUp() {
            Document(this.click(this.value = 'Stop'));
        }

        function RedirectAfterDelayFn() {
            var seconds = 10;
            var dvCountDown = document.getElementById("CountDown");
            var lblCount = document.getElementById("CountDownLabel");
            dvCountDown.style.display = "block";
            lblCount.innerHTML = seconds;
            setInterval(function () {
                seconds--;
                lblCount.innerHTML = seconds;
                if (seconds == 0) {
                    dvCountDown.style.display = "none";
                    
                    document.location.href = '/Home/Start'

                }
            }, 1000);
        }


      
       


    </script>
}

}

