
@{
    ViewData["Title"] = "RobotArrows";
}
<h2>Control the robot using Arrow Keys</h2>
<h4>@ViewData["Key"]</h4>

@section Scripts
{
    <script src="~/js/RobotArrowsNavigation.js"></script>
    <link rel="stylesheet" href="~/css/robot.css" />
}

