@using Microsoft.AspNetCore.Identity
@using MBotRangerCore.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@{
    ViewData["Title"] = "RobotArrows";
}
@if (SignInManager.IsSignedIn(User))
{

<h2>Control the robot using Arrow Keys</h2>
<h4>@ViewData["Key"]</h4>

@section Scripts
{
    
    <script src="~/js/inactive_logout_handler.js"></script>
    <link rel="stylesheet" href="~/css/_robot_old.css" />
}
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <span id="msg"/>
}


