input {
    height: 60px;
}

canvas {
    border-style: solid;
}

video {
    margin-top: 30px;
    border-style: solid;
}


div[id="controlButtons"] {
    margin-top: 120px;
}

div[id="webcamButtons"] {
    margin-top: 50px;
}

div[id="changeRobot_Cam"] {
    margin-top: 20px;
}

div[id="popupButtons"] {
    margin-top: 10px;
    border-left: 80px;
}
   

input[type=submit] {
    clear: both;
    display: inline-block;
    margin-top: 5px;
    border-style: outset;
    font-size: 20px;
    font-family:Arial;
    border-radius: 15px;
    font-weight: bolder;
    background: #5d6222;
    width: 115px;
    height: 60px;
    color: #000000;
}
    input[type=submit]:hover:enabled {
        opacity: 0.7;
    }

    input[type=submit]:disabled {
        clear: both;
        display: inline-block;
        border-style: hidden;
        cursor: no-drop;
        margin-top: 5px;
        font-size: 20px;
        font-family: Arial;
        border-radius: 15px;
        font-weight: bold;
        background: #888;
        width: 115px;
        height: 60px;
        color: #000000;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 50px; /* Location of the box */
        left: 0;
        margin-top: 50px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 255, 144); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

/* Modal Content */
.modal-content {
    background-color: darkslategray;
    margin: auto;
    padding: 60px;
    border: 5px solid #888;
    width: 50%;
}

/** Robot and Webcam div changers*/
a{
    text-decoration: none;
    display: inline-block;
    opacity:0.7;
}

a:hover{
        opacity:1;
}
/*
.robot_class {
    background-color: darkslategray;
    color: white;
}
*/
.webcam_class {
    background-color: darkslategray;
    color: #0d0367;
    font-size: 16px;
    font: bold;
}

.round {
    border-radius: 50%;
}

.togglePrivate input {
    margin-top: 2px;
    height: 25px;
    width: 75px;
    font-weight: bolder;
    border: none;
}

