body {
}

input {
    height: 60px;
}

video, canvas {
    border-style: solid;
}

button {
    clear: both;
    margin-top: 50px;
    border-style: solid;
    font-size: larger;
    border-radius: 10px;
    font-weight: bolder;
    background: #8A8575;
    width: 140px;
    height: 50px;
    color: #000000;
}

input[type=submit] {
    clear: both;
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    border-style: solid;
    font-size: larger;
    border-radius: 10px;
    font-weight: bolder;
    background: #8A8575;
    width: 160px;
    height: 100px;
    color: #000000;
}

input[id=buttonWebcam] {
    clear: both;
    display: inline-block;
    padding: 5px;
    margin-top: 50px;
    border-style: solid;
    font-size: larger;
    border-radius: 10px;
    font-weight: bolder;
    background: #8A8575;
    width: 140px;
    height: 50px;
    color: #000000;
}
