body {
    /*overflow: hidden;*/
    padding-top: 50px;
    padding-bottom: 20px;
    /*The following are added for the robot page*/
    background-image: url("/images/dark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

hr[id="bottomLine"] {
    margin-top: 500px;
}
    

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*Mbot addition*/


h2,h3,h1,li,h5,p,span,label {
    color:aliceblue;
}

h3[id="logoutWarn"] {
     color: #ff6a00;
     align-content:flex-end;
     font-size:larger;
}

h4 {
    color: green;
}
div[id="aboutID"]{
    color: aliceblue;
}

.header-text {
    font-size: 50px;
    font-weight: 700;
    color: white;
    font-family:'Times New Roman';
    text-shadow: 1px 1px 1px #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position: absolute;
    padding: 10px;
}

table,tr {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:auto;
    border:solid;
    color:brown;
    border-width:thin;
    border-color:azure;
}

td, th {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 150px;
    border: solid;
    color: brown;
    border-width: thin;
    border-color: azure;
}

#usersTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
}

    #usersTable td, #usersTable th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #usersTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #usersTable tr:hover {
        background-color: #ddd;
    }

    #usersTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }