

body {
    /*overflow: hidden;*/
    padding-top: 50px;
    padding-bottom: 20px;
    /*The following are added for the robot page*/
    background-image: url("/images/dark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

hr[id="bottomLine"] {
   /* margin-top: 100px;*/
    margin-bottom: 10px;
}


.profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}

    .profile-pic:hover {
        background-color: rgba(0,0,0,.5);
        z-index: 10000;
        color: #fff;
        transition: all .3s ease;
        text-decoration: none;
    }




.profile-pic span {
    display: inline-block;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

.gallery-content{

    padding:24px;
}


.gallery-image{
    
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:150px;
    width:150px;
}

.gallery-image-container {
    padding: 8px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 170px;
    width: 170px;
    margin: 12px;
    position: relative;
    box-shadow: 0 10px 18px rgba(0,0,0,2),0 5px 5px rgba(0,0,0,2);
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*Mbot addition*/


h2,h3,h1,li,h5,p,span,label {
    color:aliceblue;
}

h3[id="logoutWarn"] {
     color: #ff6a00;
     align-content:flex-end;
     font-size:larger;
}

h4 {
    color: green;
}
div[id="aboutID"]{
    color: aliceblue;
}

.header-text {
    font-size: 50px;
    font-weight: 700;
    color: white;
    font-family:'Times New Roman';
    text-shadow: 1px 1px 1px #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position: absolute;
    padding: 10px;
}

#waitingListTable {
    font-family: arial, sans-serif;
   /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    min-width: 250px;
    width: auto;
}

#waitingListTable h4 {
        color: black;
        font-size:14px;
        text-align:center;
}

#waitingListTable h4[id="name"] {
            color: black;
            font-size: 14px;
            margin-left: 5px;
            text-align: left;
}

#waitingListTable td, #waitingListTable th {
        border: 1px solid black;
        width: 60px;
    }

#waitingListTable td, #waitingListTable th[id="posId"] {
        border: 1px solid black;
        width: 20px;
}


#waitingListTable tr {
        background-color: aliceblue;
        border: solid;
}
    
#waitingListTable tr:hover {
        background-color: #000;
}

#waitingListTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #888;
}





div[id="divLogged"] {
    position: static;
    height: 1300px;
    min-width: 240px; /*added on 23 january*/
    max-width: 250px; /*added on 23 january*/
    background-color: #111111;
}


#divLogged tr:hover {
    background-color:darkslategray;
}
div[id="innerDivLogged"] {
    position: fixed;
    margin-top: 180px;
    background-color: #111111;
    height: 400px;
    width: 235px;
    /*width: 100%; added on 23 january*/
    margin-left: -30px;
}

#innerDivLogged h5 {
    position: fixed;
    vertical-align: top;
    margin-left:10px;
}



