body {
    /*overflow: hidden;*/
    padding-top: 50px;
    padding-bottom: 20px;
    /*The following are added for the robot page*/
    background-image: url("/images/dark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

hr[id="bottomLine"] {
    margin-top: 500px;
}
    

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*Mbot addition*/


h2,h3,li,h5,p,span,label {
    color:aliceblue;
}
div[id="aboutID"]{
    color: aliceblue;
}

.header-text {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position: absolute;
    padding: 10px;
}