body {
}

input {
    height: 60px;
}

canvas {
    border-style: solid;
}

video {
    margin-top: 10px;
    border-style: solid;
    border-color: darkgreen;
}


div[id="controlButtons"] {
    margin-top: 10px;
    border-style: solid;
    border-color: brown;
}

div[id="webcamButtons"] {
    margin-top: 10px;
    border-style: solid;
    border-color: brown;
}

div[id="popupButtons"] {
    margin-top: 10px;
    border-left: 80px;
}



button {
    clear: both;
    margin-top: 10px;
    border-style: solid;
    font-size: larger;
    border-radius: 10px;
    font-weight: bolder;
    background: #8A8575;
    width: 100px;
    height: 50px;
    color: #000000;
    background-color: Transparent;
}

input[type=submit] {
    clear: both;
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    border-style: solid;
    font-size: larger;
    border-radius: 10px;
    font-weight: bolder;
    background: #8A8575;
    width: 100px;
    height: 40px;
    color: #000000;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 255, 144); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: darkslategray;
    margin: auto;
    padding: 60px;
    border: 5px solid #888;
    width: 50%;
}

/** next and previous buttons*/
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

    a:hover {
        background-color: #ddd;
        color: black;
    }

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}