
@{
    ViewData["Title"] = "Webcam Main";
}

@section Scripts
{
    <script src="~/js/CaptureModal.js"></script>
    <link rel="stylesheet" href="~/css/webcam.css" />
}
<div class="row">
    @*The appropriate width and height should be 640 and 480 respectively
        canvas size on js file should be the same with cshtml file to avoid croping*@
    <div class="col-md-8">
        <video id="videoM" width="720" height="480" autoplay></video>
    </div>

    <div id="controlButtons" class="col-md-4">
        @*Robot controllers to into the webcam page*@
        @using (Html.BeginForm("WebCamMain", "Webcam"))
        {
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                    <input id="forwardBtn" type="submit" name="submit" value="F" />

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <input id="leftBtn" type="submit" name="submit" value="L" />

                </div>
                <div class="col-md-4">

                    <input id="stopBtn" type="submit" name="submit" value="S" />

                </div>

                <div class="col-md-4">

                    <input id="rightBtn" type="submit" name="submit" value="R" />

                </div>

            </div>

            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                    <input id="backBtn" type="submit" name="submit" value="B" />

                </div>
            </div>

        }

        @*Camera buttons here*@

        </div>
   
    <div class="row">
    <a id="previous" href="#" class="previous round">&#8249;</a>
    <a id="next" href="#" class="next round">&#8250;</a>
    </div>

    <div id="webcamButtons" class="row">
        <div class="col-md-4">
            <button id="webcamM">Start Webcam</button>
        </div>

        <div class="col-md-4">
            <button id="stopM">Stop Webcam</button>
        </div>


        <div class="col-md-4">
            <button id="captureM">Capture Photo</button>
        </div>

    </div>
</div>

<div class="row">

    

    @*Reloads the webcam page*@

    <div class="col-md-6">
        @using (Html.BeginForm("ReloadCam", "Webcam"))
        {
            <button id="buttonWebcam">Reload</button>

        }
    </div>


</div>




@*The modal itsel*@

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="row">
            <div class="col-md-6">
                <canvas id="popupCanvas" width="500" height="330"></canvas>
            </div>
        </div>
        <div id="popupButtons" class="row">
            <div class="col-md-4">
                <button id="popupSave">Save</button>
            </div>
            <div class="col-md-4">
                <button id="popupCancel">Cancel</button>
            </div>
        </div>
    </div>

</div>




