@{
    ViewData["Title"] = "Index";
}


<script src="~/lib/jquery/dist/jquery.js"></script>
    



<h2>Subscription</h2>

<p>
    Enter your name
    <br />
    @Html.TextBox("Name")
</p>
<p>
    Enter your address
    <br />
    @Html.TextBox("Address")
</p>


<input type="button" value="Save" id="Save" />
<span id="msg" style="color:white;" />

<script type="text/javascript">
    $('#Save').click(function () {
        var url = "/Temp/SubmitSubscription";
        var name = $("#Name").val();
        var address = $("#Address").val();
        $.post(url, { Name: "Bill", Address: "Gate" }, function (data) {
            $("#msg").html(data);
        });
    })
</script>

