
@{
    ViewData["Title"] = "";
}

@if (!SignInManager.IsSignedIn(User))
{
<h2 class="header-text">Welcome to the project</h2>
}

<div  style="position:relative;" calss="container">
    <img style="position:absolute; top:100px; left: 800px" src="~/images/90092_01.png" width="400"  class="rounded"/>

</div>
@section Scripts
    {
<script src="~/js/Robot_JQuery.js"></script>
}


@using Microsoft.AspNetCore.Identity
@using MBotRangerCore.Models
@model MBotRangerCore.Models.ConfirmViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            @await Html.PartialAsync("_LoginPartial")

        </div>
    </nav>
    <div><h3 id="logoutWarn"></h3></div>
    
    <h3>Logged in Users List:</h3>
    <h5>If you're not on position 1, please wait until your turn to access the robot</h5>
    <table>
        <tr>
            <th><h4><b>Postion</b></h4></th>
            <th><h4><b>Name</b></h4></th>
            <th><h4><b>Email</b></h4></th>
        </tr>
        @{int dd = 0;
        }
        @foreach (var wList in ViewBag.WaitList)
        {
            dd++;
            <tr>
                <td><h4>@dd   </h4></td>
                <td><h4>@UserManager.FindByEmailAsync(wList.Email).Result.FirstName</h4></td>
                <td><h4>@wList.Email</h4></td>
            </tr>

        }


    </table>

            }
            else
            {
                if (!ViewBag.Type)
                {
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        </ul>
</div>
</nav>
    }
    else
    {
        <h5>Guest mode, Please Login</h5>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        </ul>
    </div>
</nav>
        @*

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <h5>Guest Mode</h5>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                </li>
            </ul>
        </form>
    </nav>*@
    }
}