@using Microsoft.AspNetCore.Identity
@using MBotRangerCore.Models
@model MBotRangerCore.Models.ConfirmViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "";
}

@section Scripts
    {
    <script src="~/js/Robot_JQuery.js"></script>
}

<h2 class="header-text" style="text-align:center; font-family:Arial;">INTEGRIFY MBOT HOME</h2>
@if (!SignInManager.IsSignedIn(User))
{
   @* <h5 style="margin-top:90px;">Until you get access to the robot, please watch the demo video down</h5>
  *@
}

<div style="position:relative;" calss="container">
    <img style="position:absolute; top:100px; left: 800px" src="~/images/90092_01.png" width="400" class="rounded" />

</div>
<div style="color:aliceblue;" id="homePageDiv" class="container">
    <video src="~/images/video.mp4" controls loop muted id="videoM" width="720" height="500" autoplay></video>
    @*
        <iframe width="720" height="480" src="https://www.youtube.com/embed/gjZpoBZywWg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    *@
    <div><h3 id="logoutWarn"></h3></div>
    <div><p id="timerLog">@ViewBag.TimerLog</p></div>
</div>

@if (SignInManager.IsSignedIn(User))
{

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @await Html.PartialAsync("_LoginPartial")
            
        </div>
    </nav>
   
   

}

else
{
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                </ul>
            </div>
        </nav>
}