
@{
    ViewData["Title"] = "";
}

<h2 class="header-text">Welcome to the project</h2>

<div calss="container">
    <img src="~/images/IMG_20171213_155030_1.jpg" width="1200" height="600" class="rounded" />
</div>

    {
<script src="~/js/Robot_JQuery.js"></script>
}


@using Microsoft.AspNetCore.Identity
@using MBotRangerCore.Models
@model MBotRangerCore.Models.ConfirmViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            @await Html.PartialAsync("_LoginPartial")

        </div>
    </nav>
    <div><h3 id="logoutWarn"></h3></div>

}
else
{
    if (!ViewBag.Type)
    {
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        </ul>
</div>
</nav>
    }
    else
    {
        <h5>Guest mode, Please Login</h5>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        </ul>
    </div>
</nav>
        @*

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <h5>Guest Mode</h5>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                </li>
            </ul>
        </form>
    </nav>*@
    }
}